* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styling - Centers the form*/
body {
  font-family: Arial, sans-serif; /* Basic font */
  background-image: url("./image/mao.jpg"); /* add your image filename here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex; /* Use flexbox to center the form */
  flex-direction: column; /* allows footer below the form */
  align-items: center; /* center form horizontally */
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
}
/* Dark overlay on background image */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.45);
  z-index: 0; /* Ensure the overlay is below the form */
}

/* Form Container  */
form {
  background: #ffffff; /* form background */
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Simple shadow */
  width: 100%;
  max-width: 400px;
  position: relative;
  z-index: 1;
}
/* Form header */
.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #026329;
  font-size: 22px;
  font-weight: bold;
}
/* Styling for Labels */
label {
  display: block; /* Make labels take up the full width */
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
/* Styling for Input Fields */
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px; /* Space between input fields */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Styling for the Submit Button */
button {
  background-color: #379853;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  width: 100%; /* Full width button */
}

/* Hover state for the button */
button:hover {
  background-color: #005d21; /* Darker shade on hover */
}

/* Footer styling */
.page-footer {
  position: relative;
  z-index: 1;
  margin-top: auto; /* THIS pushes footer to the bottom */
  padding: 26px 22px;
  width: 100%;
  max-width: 100%;
  text-align: center;

  color: #fff;
  background: rgb(0, 0, 0);
  border-radius: 6px;
  font-size: 14px;
}
